

<!--  about component  -->

<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 col-md-12  order-lg-1 order-2">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia nihil ratione quas velit autem provident voluptatum repellendus culpa aut nesciunt.</p>


        <div class="about-us-info-2">
          <h3><i class="fa-solid fa-diagram-predecessor"></i> Ullamco laboris nisi ut aliquip consequat</h3>
          <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>

          <h4><i class="fa-solid fa-compress"></i> Magnam soluta odio exercitationem reprehenderi</h4>
          <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>

          <h5><i class="fa-solid fa-podcast"></i> Voluptatem et qui exercitationem</h5>
          <p>Et velit et eos maiores est tempora et quos dolorem autem tempora incidunt maxime</p>
        </div>

      </div>


      <div class="col-lg-6 col-sm-12 col-md-12 order-lg-2 order-1">
        <img src="assets\img\about (1).jpg" class="img-fluid" alt="">

      </div>
    </div>
  </div>
</section>
