

<!--  contact component  -->


<section class="contact-us">
  <div class="container">

    <div class="col-12">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.318097025198!2d31.256931815451413!3d30.056415224961132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458409cf8ce9fa5%3A0xad253eb7c1e47780!2sEl-Gaish%2C%20Cairo%20Governorate!5e0!3m2!1sen!2seg!4v1662510653103!5m2!1sen!2seg"
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>


    <div class="col-12">
      <div class="contact-us-info">
        <div class="row">
          <div class="col-lg-4 col-sm-12 col-md-12">

            <div class="contact-info-1 ">
              <h2><i class="fa-solid fa-location-dot"></i> Location:</h2>
              <p>A108 Adam Street, New York, NY 535022</p>

              <h2> <i class="fa-solid fa-envelope"></i> Email:</h2>
              <p>info@example.com</p>

              <h2><i class="fa-solid fa-mobile"></i> Call:</h2>
              <p>+1 5589 55488 55</p>
            </div>

          </div>



          <div class="col-lg-8 col-sm-12 col-md-12">
            <div class="contact-info-2">
              <form class="login">

                <input type="text" placeholder="Your Name" class="input-1">



                <input type="email" placeholder="Your Email" class="input-1">


                <input type="text" placeholder="Subject">

                <textarea name=""  cols="68" rows="5">Message</textarea>

                <button class="btn" > Send Message</button>



              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
