

<!--  pricing component  -->

<section class="pricing">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="pricing-info-1">
          <h3>Free Plan</h3>
          <p>$0 / <span>month</span> </p>
          <h4><i class="fa-solid fa-check"></i> Quam adipiscing vitae proin</h4>
          <h4><i class="fa-solid fa-check"></i> Nec feugiat nisl pretium</h4>
          <h4><i class="fa-solid fa-check"></i> Nulla at volutpat diam uteera</h4>

          <h5><i class="fa-solid fa-xmark"></i> <span>Pharetra massa massa ultricies</span></h5>
          <h5><i class="fa-solid fa-xmark"></i> <span> Massa ultricies mi quis hendrerit</span></h5>

          <button class="btn "> Buy Now</button>
        </div>

      </div>


      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="pricing-info-2">
          <h3>Business Plan</h3>
          <p>$29 / <span>month</span> </p>
          <h4><i class="fa-solid fa-check"></i> Quam adipiscing vitae proin</h4>
          <h4><i class="fa-solid fa-check"></i> Nec feugiat nisl pretium</h4>
          <h4><i class="fa-solid fa-check"></i> Nulla at volutpat diam uteera</h4>

          <h4><i class="fa-solid fa-check"></i> Pharetra massa massa ultricies</h4>
          <h4><i class="fa-solid fa-check"></i> Massa ultricies mi quis hendrerit</h4>

          <button class="btn "> Buy Now</button>
        </div>

      </div>




      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="pricing-info-3">
          <h3>Developer Plan</h3>
          <p>$49 / <span>month</span> </p>
          <h4><i class="fa-solid fa-check"></i> Quam adipiscing vitae proin</h4>
          <h4><i class="fa-solid fa-check"></i> Nec feugiat nisl pretium</h4>
          <h4><i class="fa-solid fa-check"></i> Nulla at volutpat diam uteera</h4>

          <h4><i class="fa-solid fa-check"></i>Pharetra massa massa ultricies</h4>
          <h4><i class="fa-solid fa-check"></i>Massa ultricies mi quis hendrerit</h4>

          <button class="btn "> Buy Now</button>
        </div>

      </div>
    </div>
  </div>
</section>
