
<!--  services component  -->



<section class="services">
  <div class="container">

    <div class="col-12 text-center">
      <h4>OUR SERVICES</h4>
    </div>


    <div class="row">

      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="services-info-1">
          <img src="assets\img\storage-service.jpg" class="img-fluid" alt="">
          <h3>STORAGE</h3>
          <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, fuga?</p>

        </div>

      </div>



      <div class="col-lg-4 col-sm-12 col-md-6">

        <div class="services-info-2">
          <img src="assets\img\logistics-service.jpg" class="img-fluid" alt="">
          <h3>LOGISTICS</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, corrupti.</p>

        </div>

      </div>


      <div class="col-lg-4 col-sm-12 col-md-6">

        <div class="services-info-3">
          <img src="assets\img\cargo-service.jpg" class="img-fluid" alt="">
          <h3>CARGO</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, cum!</p>

        </div>

      </div>



      <div class="col-lg-4 col-sm-12 col-md-6">

        <div class="services-info-4">
          <img src="assets\img\trucking-service.jpg" class="img-fluid" alt="">
          <h3>TRUCKING</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, nam.</p>

        </div>

      </div>



      <div class="col-lg-4 col-sm-12 col-md-6">

        <div class="services-info-5">
          <img src="assets\img\packaging-service.jpg" class="img-fluid" alt="">
          <h3>PACKAGING </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, nam!</p>

        </div>

      </div>



      <div class="col-lg-4 col-sm-12 col-md-6">

        <div class="services-info-6">
          <img src="assets\img\warehousing-service.jpg" class="img-fluid" alt="">
          <h3>WAREHOUSING</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, unde?</p>

        </div>

      </div>

    </div>



    <div class="col-12">
      <div class="services-info-7 ">
        <div class="row">
          <div class="col-lg-6 col-sm-12 col-md-12 ">
            <img src="assets\img\features-1.jpg" class="img-fluid" alt="">

          </div>

          <div class="col-lg-6 col-sm-12 col-md-12 order-lg-2 order-1">
            <h3>Voluptatem dignissimos provident quasi corporis.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
            <p><i class="fa-solid fa-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p><i class="fa-solid fa-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</p>
            <p><i class="fa-solid fa-check"></i> Ullam est qui quos consequatur eos accusamus.</p>

          </div>
        </div>
      </div>
    </div>



    <div class="col-12">
      <div class="services-info-8 ">
        <div class="row">
          <div class="col-lg-6 col-sm-12 col-md-12 order-lg-1 order-2">
            <h3>Corporis temporibus maiores provident</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>

            <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id.</p>

          </div>


          <div class="col-lg-6 col-sm-12 col-md-12 order-lg-2 order-1">

            <img src="assets\img\features-2.jpg" class="img-fluid" alt="">

          </div>
        </div>
      </div>
    </div>



    <div class="col-12">

      <div class="services-info-9">
        <div class="row">
          <div class="col-lg-6 col-sm-12 col-md-12">
            <img src="assets\img\features-3.jpg" class="img-fluid" alt="">

          </div>


          <div class="col-lg-6 col-sm-12 col-md-12">
            <h3>Sunt consequatur ad ut est nulla consectetur reiciendis animi voluptas</h3>
            <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut
              quia voluptatem hic voluptas dolor doloremque. </p>

            <h5><i class="fa-solid fa-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo. </h5>
            <h6><i class="fa-solid fa-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</h6>
            <h6><i class="fa-solid fa-check"></i> Facilis ut et voluptatem aperiam. Autem soluta ad fugiat.</h6>

          </div>
        </div>
      </div>
    </div>




    <div class="col-12">
      <div class="services-info-10">
        <div class="row">
          <div class="col-lg-6 col-sm-12 col-md-12 order-lg-1 order-2">
            <h4>Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>


            <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id</p>

          </div>


          <div class="col-lg-6 col-sm-12 col-md-12 order-lg-2 order-1">

            <img src="assets\img\features-4.jpg" class="img-fluid" alt="">

          </div>
        </div>
      </div>
    </div>








  </div>
</section>

