
<!--  home component  -->


<section class="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 col-md-12 order-lg-1 order-2">
        <h1>Your Lightning Fast <br> Delivery Partner.</h1>
        <p>Facere distinctio molestiae nisi fugit tenetur repellat non praesentium <br> eum voluptatem eum maiores eaque
          id optio ullam occaecati odio est.</p>

        <button class="btn "> Get Started</button>
      </div>


      <div class="col-lg-6 col-sm-12 col-md-12  order-lg-2 order-1">
        <img src="assets\img\hero-img.svg" class="img-fluid" alt="">

      </div>
    </div>
  </div>
</section>

<section class="info-1 ">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="info-body-1 ">
          <h3><i class="fa-solid fa-truck-ramp-box"></i> Lorem ipsum.</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi obcaecati architecto .</p>
          <button class="btn"> Learn More <i class="fa-solid fa-arrow-right-long"></i></button>
        </div>

      </div>


      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="info-body-2 ">
          <h3> <i class="fa-solid fa-cart-flatbed-suitcase"></i> Dolor Sitema.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, ad. Voluptas, natus.</p>
          <button class="btn "> Learn More <i class="fa-solid fa-arrow-right-long"></i></button>

        </div>

      </div>


      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="info-body-3 ">
          <h3><i class="fa-solid fa-cart-shopping"></i> Sed ut perspiciatis</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde possimus aut deleniti?</p>
          <button class="btn "> Learn More <i class="fa-solid fa-arrow-right-long"></i></button>
        </div>

      </div>


    </div>
  </div>
</section>
